{% extends 'base.html' %}

{% block body %}

<div id="{{ map_elem.element_id }}" style="position: relative; width: 500px; height: 300px;"></div>


{% endblock body %}

{% block endscripts %}
<script>
    var map = new Datamap({
        element: document.getElementById('{{ map_elem.element_id }}'),
        {% if map_elem.projection %}
            projection: '{{ map_elem.projection }}',
        {% endif %}
        {% if map_elem.height %}
            height: {{ map_elem.height }},
        {% endif %}
        {% if map_elem.width %}
            width: {{ map_elem.width }},
        {% endif %}
        {% if map_elem.scope %}
            scope: '{{ map_elem.scope }}',
        {% endif %}
        {% if map_elem.responsive %}
            responsive: {{ map_elem.responsive }},
        {% endif %}

    {% if map_elem.default_fill %}
        fills: {
            defaultFill: '{{ map_elem.default_fill }}'
        }
    {% endif %}

    {% if map_elem.bubbles_config %}
        bubblesConfig: {
            {% if map_elem.bubbles_config.border_width %}
                borderWidth: {{ map_elem.bubbles_config.border_width }},
            {% endif %}
            {% if map_elem.bubbles_config.border_opacity %}
                borderOpacity: {{ map_elem.bubbles_config.border_opacity }},
            {% endif %}
            {% if map_elem.bubbles_config.border_color %}
                borderColor: '{{ map_elem.bubbles_config.border_color }}',
            {% endif %}
            {% if map_elem.bubbles_config.popup_on_hover %}
                popupOnHover: {{ map_elem.bubbles_config.popup_on_hover }},
            {% endif %}
            {% if map_elem.bubbles_config.radius %}
                radius: {{ map_elem.bubbles_config.radius }},
            {% endif %}
            {% if map_elem.bubbles_config.fill_opacity %}
                fillOpacity: {{ map_elem.bubbles_config.fill_opacity }},
            {% endif %}
            {% if map_elem.bubbles_config.animate %}
                animate: {{ map_elem.bubbles_config.animate }},
            {% endif %}
            {% if map_elem.bubbles_config.highlight_on_hover %}
                highlightOnHover: {{ map_elem.bubbles_config.highlight_on_hover }},
            {% endif %}
            {% if map_elem.bubbles_config.highlight_fill_color %}
                highlightFillColor: '{{ map_elem.bubbles_config.highlight_fill_color }}',
            {% endif %}
            {% if map_elem.bubbles_config.highlight_border_color %}
                highlightBorderColor: '{{ map_elem.bubbles_config.highlight_border_color }}',
            {% endif %}
            {% if map_elem.bubbles_config.highlight_border_width %}
                highlightBorderWidth: {{ map_elem.bubbles_config.highlight_border_width }},
            {% endif %}
            {% if map_elem.bubbles_config.highlight_border_opacity %}
                highlightBorderOpacity: {{ map_elem.bubbles_config.highlight_border_opacity }},
            {% endif %}
            {% if map_elem.bubbles_config.highlight_fill_opacity %}
                highlightFillOpacity: {{ map_elem.bubbles_config.highlight_fill_opacity }},
            {% endif %}
            {% if map_elem.bubbles_config.exit_delay %}
                exitDelay: {{ map_elem.bubbles_config.exit_delay }},
            {% endif %}
        }
    {% endif %}
    });
</script>
{% endblock endscripts %}